.navbar {
  background-color: #007aff;
  font-weight: 600;
  padding: 20px;
  color: white;
  font-size: 21px;
  border-radius: 10px 0px 10px 0px;
}
.navbar-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
a {
  span {
    color: white;
  }
}
